<!DOCTYPE html>
<html>
<body>

<h1>Add Details</h1>

<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<form action="/movies"  method="POST">
  <label for="lname">title:</label><br>
  <input type="text" id="title" name="title"><br><br>

    <label for="lname">year:</label><br>
  <input type="text" id="year" name="year"><br><br>

    <label for="lname">genre:</label><br>
  <input type="text" id="genre" name="genre"><br><br>

  <input type="submit" value="Submit">

</form>

<br>

<table>

  <tr>
    {% for i in column_names %}
    <th>{{ i }}</th>{% endfor %}<th>Actions</th>
  </tr>

  <tr>#Item_Name,Quantity_Remain,Item_Cost,Expiry_Date,Manufactured_By,Item_Type,Item_Code

{% for i in name %}
    <td>{{ i['Item_No'] }}</td>
    <td>{{ i['Item_Name'] }}</td><td>{{ i['Quantity_Remain'] }}</td><td>{{ i['Item_Cost'] }}</td>
      <td>{{ i['Manufactured_By'] }}</td><td>{{ i['Item_Type'] }}</td><td>{{ i['Item_Code'] }}</td>
    <td><a href="/Grocery_tables/{{ i['Item_No'] }}">Edit</a></p>
    <a href="/Grocery_tabless/{{ i['Item_No'] }}">Delete</a></p></td>
  </tr>

  {% endfor %}
</table>

</body>



</html>

</body>
</html>

